# Assignment 2

## Creating & Manipulating Dataframes

In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

names = ["John", "Mary", "Peter"]
age = [27, 34, 47]
sex = ["male", "female", "female"]

data = { "Name": names, "Age": age, "Sex": sex}

New_dataframe = pd.DataFrame(data)
print(New_dataframe)

    Name  Age     Sex
0   John   27    male
1   Mary   34  female
2  Peter   47  female

### Using the .loc attribute, access the age of John from the DataFrame.

In [2]:
John_Age = New_dataframe.loc[0,'Age']    # 0 for John, 1 for Mary & 2 for Peter
print("Age of John is ", John_Age)

Age of John is  27

In [3]:
 # John_Age = New_dataframe.iloc[0,1] , If the age location is known

### Using the .loc attribute change the gender of Peter from "female" to "male."

In [4]:
New_dataframe.loc[New_dataframe['Name'] == 'Peter', 'Sex'] = 'male'
print("DataFrame after gender change:")
print(New_dataframe)

DataFrame after gender change:
    Name  Age     Sex
0   John   27    male
1   Mary   34  female
2  Peter   47    male

### Write code to extract a subset of the DataFrame containing only male individuals.

In [5]:
Male_dataframe = New_dataframe[New_dataframe['Sex'] == 'male']
Male_dataframe
# Or else assign New_dataframe['Sex'] == 'male' with any variable name and assign

    Name  Age   Sex
0   John   27  male
2  Peter   47  male

### Write another code to retrieve the name and age of the oldest male from the modified DataFrame.

In [6]:
max_age_per_sex = Male_dataframe.groupby('Sex')['Age'].max()

oldest_male = max_age_per_sex['male']
print("The oldest male age is", oldest_male)

The oldest male age is 47